<div class="chat-header">
  <div class="left-header">
    <div class="chat-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="edit-room">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>


<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-name">Tom</div>
      <div class="message-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="lower-message">
      <div class="message-body">おはよう</div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-name">Tom</div>
      <div class="message-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="lower-message">
      <div class="message-body">こんばんは</div>
    </div>
  </div>
</div>

<div class="form">
  <form class="new-message">
    <input class="input-text" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden"></label>
    <input class="submit-btn" type="submit" valie="送信">
  </form>
</div>